body{
  background : #666666 !important;
  font-family: "Lucida Console", monaco;
  margin: 0px;
}
p{
  color: #000000;
  line-height: 90%;
}
.frontPage{
  margin: auto;
  text-align:center;
  width: 100%;
}
.loading{
  background: #000000 !important;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
#loadingGif{
  display: block;
  margin:auto;
  vertical-align: middle;
}
.wrapper{
  display: inline-block;
  margin: auto;
  margin-top: 10vh;
  text-align: center;
}
  #spotifyLogo{
    margin : 0;
  }
  h1{
    font-size: 96px;
    color: #000000;
    margin: 30px;
    font-family: "Lucida Console", monaco;
  }
  .buttonimg{
    display:grid;
    grid-template-columns:  200px;
    grid-template-rows:  200px 50px;
  }
  .button{
    background: #666666;
    color: #000000;
    border-color: #000000;
    font-size: 16px;
    font-family: "Lucida Console", monaco;
  }
  .button:hover{
    background-color:#DDDDDD;
    transition: background-color 0.2s;
  }
  .button:active{
    border-top: 3px solid #000000;
    border-left: 3px solid #000000;
  }
    .enter{
      text-decoration: none;
      display: inline-block;
      border: 1px solid #000000;
      padding: 16px 64px 16px 64px;
    }
    .github{
      text-decoration: none;
      display: inline-block;
      position: absolute;
      border: 1px solid #000000;
      bottom: 30px;
      left: 30px;
    }
  #version{
    position: absolute;
    bottom: 15px;
    right: 30px;
  }
  #enterContainer{
    text-align: center;
  }
.overlay {
  color: #ffffff!important;
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height:80px;
  display: grid;
  z-index: 1000;
}
#visual{
  position: absolute;
  z-index: 0;
}
.video{
  z-index: -1 !important;
}
.header{
  grid-template-columns: 80px 290px auto;
  grid-template-rows: 48px;
}
.footer{
  position: relative;
  top: 10;
  grid-template-columns: 80px auto 100px;
  grid-template-rows: 80px 10px;
}
.trackInfo{
  margin-left: 15px;
}
#hudArtist{
  color: #ffffff;
}
#hudTrack{
  color: #ffffff;
}
#hudProps{
  color: #ffffff;
}
.hudCam{
  color: #ffffff;
  margin-left: 15px;
}
#backBtn{
  grid-column: 3;
  grid-row: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  border: 0px solid #FFFFFF;
  color: #FFFFFF;
  padding: 29px 64px 28.5px 64px;
}
#backBtn:hover{
  background-color:#DDDDDD;
  color:#000000;
  transition: background-color 0.2s;
  transition: color 0.2s;
}
#backBtn:active{
  background-color:#AAAAAA;
}
#progressContainer{
  grid-row: 2;
}
#progressBar{
  transition: 0s;
}
#visualContainer{
  position: absolute;
  padding: 0 !important;
  margin: 0 !important;
}
