{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spotify Visualizer</title>
    <link rel='icon' href='{% static "images/rubicsCube.png" %}' type='image/x-icon'/ >
    <link rel="stylesheet" type="text/css" href="{% static 'visuals.css' %}">
  </head>
  <body >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static '/libraries/three.js/three.js' %}"></script>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
