{% extends 'mainApp/base.html' %}
{% load static %}
{% block content %}
<div class="frontPage">
  <div class="wrapper">
    <img id="spotifyLogo" src="{% static '/images/spotify.png' %}" width="80px">
    <h1>SPOTIFY <br>VISUALISER<br></h1>
    <div id="enterContainer">
      <a class="button enter" href="/authSend">ENTER</a>
    </div>
    <form class="links" action="https://github.com/oscar-davis/spotvis" target="_blank">
      <button class="github button" type="submit">&ltsource&gt</button>
    </form>
    <p id="version">v1.0 © OSCAR DAVIS</p>
  </div>
</div>
{% endblock %}
